.wrapper {
  margin: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  background-color: var(--squareColor);
  border: none;
  color: white;
  border-radius: 50%;
  padding: 20px;
}
